# NBA鄉民來預測

In [88]:
dataset =  "west_final_2team.csv"
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from scipy.stats.stats import pearsonr  
%matplotlib inline

讀取前處理完成的資料格式

In [89]:
df = pd.read_csv(dataset)

隊伍名稱  
教練  
先發五名球員  
替補九名成員  
基本欄位共16個，判對好壞後共32個特徵

In [90]:
df

,game,team_C,team_W,coach_C,coach_W,F_C1,F_C2,C_C,G_C1,G_C2,...,w2,w3,w4,w5,w6,w7,w8,score_C,score_W,result
0,10,292,239,0,1,10,16,16,155,72,...,25,9,0,0,0,0,20,106,119,1
1,11,338,228,0,6,24,43,10,80,69,...,7,6,12,0,0,0,67,127,105,2
2,12,429,196,0,2,4,10,7,62,47,...,9,4,2,0,2,3,0,85,126,1
3,13,352,158,0,20,2,3,25,112,51,...,4,3,14,0,0,0,1,95,92,2
4,14,443,295,0,10,3,6,12,76,60,...,2,0,0,0,2,1,1,98,94,2
5,15,379,276,0,10,16,18,2,156,44,...,6,10,0,2,5,0,17,86,115,1
6,16,315,172,0,3,16,4,20,124,79,...,1,8,2,0,2,0,2,92,101,1

In [91]:
data = df[['team_C','team_W','coach_C','coach_W'
           ,'F_C1','F_C2','C_C','G_C1','G_C2'
           ,'c1','c2','c3','c4','c5','c6','c7','c8'
           ,'F_W1','F_W2','C_W','G_W1','G_W2'
           ,'w1','w2','w3','w4','w5','w6','w7','w8'
]]

資料分為季後賽與冠軍賽

In [110]:
playoff = data.loc[0:3]
west_final = data.loc[4:]

In [111]:
west_final

,team_C,team_W,coach_C,coach_W,F_C1,F_C2,C_C,G_C1,G_C2,c1,...,G_W1,G_W2,w1,w2,w3,w4,w5,w6,w7,w8
4,443,295,0,10,3,6,12,76,60,11,...,87,34,11,2,0,0,0,2,1,1
5,379,276,0,10,16,18,2,156,44,36,...,44,71,8,6,10,0,2,5,0,17
6,315,172,0,3,16,4,20,124,79,14,...,33,90,3,1,8,2,0,2,0,2

In [112]:
playoff

,team_C,team_W,coach_C,coach_W,F_C1,F_C2,C_C,G_C1,G_C2,c1,...,G_W1,G_W2,w1,w2,w3,w4,w5,w6,w7,w8
0,292,239,0,1,10,16,16,155,72,7,...,76,18,7,25,9,0,0,0,0,20
1,338,228,0,6,24,43,10,80,69,23,...,73,22,4,7,6,12,0,0,0,67
2,429,196,0,2,4,10,7,62,47,24,...,154,10,3,9,4,2,0,2,3,0
3,352,158,0,20,2,3,25,112,51,15,...,68,25,13,4,3,14,0,0,0,1

In [121]:
playoff_label = df.loc[0:3][['score_W']]
west_final_label = df.loc[4:]['score_W']

使用 LogisticRegression 預測得分

In [124]:
from sklearn.linear_model import LogisticRegression 
LR = LogisticRegression()
history_LR = LR.fit(playoff, playoff_label)
#Scores = LR.score(X_test,y_test)
result = LR.predict(west_final)
#r1 = pearsonr(result, y_test)
#print("r1", r1)
print(result)

[105 119  92]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:547: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

使用 RandomForest 預測得分

In [122]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_jobs=2, random_state=0)
RF.fit(playoff, playoff_label)
RF_result = RF.predict(west_final)
print(RF_result)
#r2 = pearsonr(RF_result, y_test)
#print("r2", r2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

[ 92 105  92]

In [123]:
west_final_label

4     94
5    115
6    101
Name: score_W, dtype: int64